.title
  %h1= @article.title

  .date-wrapper
    .date
      .date-content
        %p= format_date(@article.created_at)

.article
  = @article.body

%ul.nextprev
  -unless @previous_article.nil?
    %li.prev
      &laquo;
      = link_to @previous_article.permalink, @previous_article.title
    
  -unless @next_article.nil?
    %li.next
      = link_to @next_article.permalink, @next_article.title
      &raquo;
      
.clearing-div